body.theme-light {
    --bg-color: #ffffff;
    --text-color: #333;
    --task-bg: #ececec;
    --border-color: #d4d4d4;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --modal-bg: #ffffff;
    --modal-text: #333;
    --sidebar-btn-hover: #c2c2c2;
}

body.theme-dark {
    --bg-color: #181818;
    --text-color: #f5f5f5;
    --task-bg: #444;
    --border-color: #555;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --modal-bg: #222;
    --modal-text: #f5f5f5;
    --sidebar-btn-hover: #646464;
}

#calendar-section {
    padding: 1rem;
    width: 100%;
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.calendar-nav h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);
}

.calendar-nav button {
    background-color: var(--task-bg);
    color: var(--text-color);
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
}

.calendar-weekdays div {
    padding: 0.5rem 0;
    background-color: var(--task-bg);
    border-radius: 5px;
    color: var(--text-color);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.day-cell {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    height: 80px;
    background-color: var(--task-bg);
    border-radius: 5px;
    text-align: right;
    padding: 0.3rem;
    font-size: 0.9rem;
    position: relative;
    border: 1px solid var(--border-color);
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.today {
    border-color: var(--button-bg);
}

.prev-month,
.next-month {
    color: #aaa;
}

.task-item-calendar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--bg-color);
    margin-top: 2px;
    padding: 2px;
    border-radius: 4px;border: var(--button-hover) solid 1px;
    color: var(--text-color);
    text-align: left;
    flex-shrink: 0; /* Evita que las tareas se expandan más allá de su tamaño */
}

.task-item-calendar .task-name {
    font-size: 0.9rem;
    font-weight: 900;
}

.task-item-calendar .task-category {
  font-size: 0.75rem;
  color: var(--button-bg);
}
