body.theme-light {
    --bg-color: #f0f0f0;
    --text-color: #2c3e50;
    --task-bg: #ffffff;
    --border-color: #d4d4d4;
    --button-bg: #f07c7c;
    --button-hover: #0056b3;
    --modal-bg: #ffffff;
    --modal-text: #2c3e50;
    --sidebar-btn-hover: #c2c2c2;
    --sidebar-bg:#ffffff;
}

body.theme-dark {
    --bg-color: #181818;
    --text-color: #f5f5f5;
    --task-bg: #444;
    --border-color: #555;
    --button-bg: #f07c7c;
    --button-hover: #0056b3;
    --modal-bg: #222;
    --modal-text: #f5f5f5;
    --sidebar-btn-hover: #646464;
    --sidebar-bg: #252525;
}

#current-week-section {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    gap: 1rem;
    color: var(--text-color);
}

#minitasks-div{
    max-width: 30rem;
    width: 100%;
}

#principaltasks-week {
    max-width: 20rem;
    width: 100%;
}


#minitasks-week, #completed-minitasks-week {
    list-style: none;
}

#minitasks-week li, #completed-minitasks-week li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0;
    align-items: start;
}

#minitasks-week li div, #completed-minitasks-week li div {
    display: flex;
    align-items: start;
}

#completed-minitasks-week {
    color: var(--border-color);
    text-decoration: line-through;
}

#minitasks-week li:hover, #completed-minitasks-week li:hover {
    .delete-minitask-btn {
        opacity: 1;
        background-color: var(--sidebar-btn-hover);
        border-radius: 0.2rem;
        width: 1rem;
        min-width: 1rem;
        height: 1rem;
        min-height: 1rem;
        line-height: 0;
    }
}

.delete-minitask-btn {
    opacity: 0;
}

#complete-minitask-btn {
    font-size: 1.5rem !important;
}

#miniTask-form {
    margin: 1rem 0 2rem 0;
    padding-bottom: 2rem;
    border-bottom: var(--border-color) solid 1px;
    color: var(--text-color);
}

#miniTask-form input {
    border: none;
    outline: none;
    padding: 0.3rem;
    background: none;
    color: var(--text-color);
}

#miniTask-form button {
    line-height: 0;
    color: var(--border-color) !important;
}

#current-week-section button {
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

#current-week-section input[type="checkbox"] {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    appearance: none; /* Oculta el checkbox */
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}

#current-week-section input[type="checkbox"]:checked {
    margin-right: 0.5rem;
    appearance: none; /* Oculta el checkbox */
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--border-color);
    background-color: var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}


#principaltasks-week {
    padding: 1rem;
    border: var(--border-color) solid 1px;
    border-radius: 0.5rem;
    min-height: 20rem;
    height: fit-content;
    list-style-position: inside;
    background-color: var(--sidebar-bg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#current-week-section h2 {
    width: fit-content;
    margin-bottom: 1rem;
    border-bottom: var(--text-color) solid 1px;
}

.edit-minitask {
    border: none;
    outline: none;
    font-size: inherit;
    background: transparent;
    width: 100%;
    color: var(--text-color);
}

#current-week-section .empty-message {
    color: #888;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#current-week-section p.empty-message {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
  #current-week-section {
    flex-direction: column;
    padding: 1rem;
  }
}