@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body.theme-light {
    --bg-color: #ffffff;
    --text-color: #333;
    --task-bg: #ececec;
    --border-color: #d4d4d4;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --modal-bg: #ffffff;
    --modal-text: #333;
    --sidebar-btn-hover: #c2c2c2;
}

body.theme-dark {
    --bg-color: #181818;
    --text-color: #f5f5f5;
    --task-bg: #444;
    --border-color: #555;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --modal-bg: #222;
    --modal-text: #f5f5f5;
    --sidebar-btn-hover: #646464;
}

body {
    background-color: var(--bg-color);
}

.header {
    background-color: var(--button-bg);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
}

.header h1 {
    font-size: 1.8rem;
}

.header a {
    text-decoration: none;
    color: white;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.header a:hover {
    background-color: var(--button-hover);
}

.header button {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.header button:hover {
    background-color: var(--button-hover);
}

.layout {
    display: flex;
    min-height: calc(100vh - 3.5rem);
}

.header .tareas-proyectos {
    width: 30%;
    max-width: 12rem;
    display: flex;
    justify-content: space-between;
    gap: 0;
}

.header .menu-h1 {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    align-items: center;
}

.menu-h1 button {
    width: 2.2rem;
    height: 2.3rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}